.white-heading {
	color: #555;
	padding: 20px;
	background-color: #fff;
	margin: 0 auto;
	width: 200px;
}

#street {
	position: relative;
	top: 0;
	left: 500px;
	width: 300px;
	height: 800px;
	border: 1px solid black;
	background-color: #fff;
}

#main-img {
	
}
#data{
		position:absolute;
		right: 0;
		top:0;
	width: 20%;
	height: 1000px;

}

#tweets ul {
	padding-left: 10px;
}

#tweets ul li{
	list-style: none;
	margin: 10px 10px 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #EEE;
}

#city {
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
}
/* @das: insert
	css */
